@import "tailwindcss";

:root {
  --color-bg-primary: #F9FAFB;
  --color-bg-secondary: #FFFFFF;
  --color-text-primary: #111827;
  --color-text-secondary: #4B5563;
  --color-accent-primary: #10B981;
  --color-border-primary: #E5E7EB;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}